@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.image-slide {
  height: 400px;
  width: 100%;
  background-image: url("https://s3-alpha-sig.figma.com/img/7d4e/3fa3/3b0de3e0090f8898c24f6e2c892fee6f?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=aVeKlo1H-zR58DjqIQQIKe-CLji1cMJxotREYfAS8HGmieK45f9siTw6HD6gdUV7NNGhXXyutoO25JtKT0ywgIhDmxCKJf9dD5W2dM~6m534Sw8rx3ycY6ebfwb3UDhaEuOD1Fx7tvSc5p~LYcrHtueAPxjhaJzcdLrXYWrHY-7N~zfqawhVt1gK8fqBkxbvsTKc1yMsDVXJgCkKcn1ZGGxbqoCqGWDa4jX7umFLoNu2JkyxnSb5j8pUJAb8NBQJ8P3wibRubmFz1yGNX1~VoSHo8DPBVl5L~nt~74i0usWQa-LxcK5suGueD-B1SchKRPwhx4BVmIncRC-g~JRqiA__");
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .image-slide {
    height: 146px;
    width: 328px;
    margin-top: 10px;
  }
}

.background-image {
  position: relative;
}
@media screen and (max-width: 768px) {
}
.title-con {
  backdrop-filter: brightness(0.5);
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .title-con {
    top: 10px;
    left: 20px;
  }
}
.trending {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 24px;
  font-weight: 500;
  line-height: 30.48px;
  text-align: left;
  color: #dc582a;
  margin: 0px;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .trending {
    font-size: 12px;
  }
}
.heading {
  font-family: "Poppins";
  width: 500px;
  margin: 0px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50.8px;
  text-align: left;
  color: #ffffff;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .heading {
    font-size: 18px;
    width: 274px;
    line-height: 18px;
  }
}
.author {
  font-family: Poppins;
  margin: 0px;
  font-size: 20px;
  font-weight: 500;
  line-height: 25.4px;
  text-align: left;
  color: #ffffff;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .author {
    font-size: 10px;
  }
}
.btn-container {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .btn-container {
    gap: 10px;
    margin-top: 10px;
  }
}
.recipes-btn {
  width: 236.8px;
  height: 43px;
  /* padding: 15px 29.8px 30px 29px; */
  border-radius: 10px;
  background-color: #f6784c;
  border: none;
  flex-grow: 1;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .recipes-btn {
    max-width: 18%;
    height: 22px;
    font-size: 6px;
    padding: 3px;
    border-radius: 5px;
  }
}
.Share-btn {
  width: 236.8px;
  height: 43px;
  /* padding: 15px 29.8px 30px 29px; */
  border-radius: 10px;
  background-color: #c4d600;
  color: #ffffff;
  border: none;
  flex-grow: 1;
}
@media screen and (max-width: 768px) {
  .Share-btn {
    max-width: 18%;
    height: 22px;
    font-size: 6px;
    padding: 3px;
    border-radius: 5px;
  }
}
.Custom-btn {
  width: 236.8px;
  height: 43px;
  /* padding: 15px 29.8px 30px 29px; */
  border-radius: 10px;
  background-color: #eaaa00;
  color: #ffffff;
  border: none;
  flex-grow: 1;
}
@media screen and (max-width: 768px) {
  .Custom-btn {
    max-width: 18%;
    height: 22px;
    font-size: 6px;
    padding: 3px;
    border-radius: 5px;
  }
}
.Create-btn {
  width: 236.8px;
  height: 43px;
  /* padding: 15px 29.8px 30px 29px; */
  border-radius: 10px;
  background-color: #ed8b00;
  color: #ffffff;
  border: none;
  flex-grow: 1;
}
@media screen and (max-width: 768px) {
  .Create-btn {
    max-width: 18%;
    height: 22px;
    font-size: 6px;
    padding: 3px;
    border-radius: 5px;
  }
}
.Cooking-btn {
  width: 236.8px;
  height: 43px;
  /* padding: 15px 29.8px 30px 29px; */
  border-radius: 10px;
  border: none;
  background-color: #84bd00;
  color: #ffffff;
  flex-grow: 1;
}
@media screen and (max-width: 768px) {
  .Cooking-btn {
    max-width: 18%;
    height: 22px;
    font-size: 6px;
    padding: 3px;
    border-radius: 5px;
  }
}
.recipe-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .recipe-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 250px;
    padding: 0px;
  }
}
@media screen and (max-width: 768px) {
  label {
    font-size: 10px;
  }
  .sidebar-container div {
    display: flex;
    align-items: center;
  }
}
.main-container-with-sidebar {
  display: flex;
}
@media screen and (max-width: 768px) {
}
.sidebar-container {
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  /* position: fixed;
  top: 0; */
}
@media screen and (max-width: 768px) {
  .sidebar-container {
    min-width: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
  }
}
.check-con {
  display: flex;
  align-items: center;
  max-width: 100px;
}
@media screen and (max-width: 768px) {
  .check-con {
    display: flex;
    align-items: center;
    max-width: 70px;
  }
}
